@media screen and (max-width: 991px) {

  .section_3 {
    padding-bottom: 50px;
  }

  .success_icon1 {
    border-radius: 40px 40px 0 0;
  }

  .success_icon4 {
    border-radius: 0 0 40px 40px;
  }

  .info_icon {
    margin-bottom: 60px;
    font-size: 15px;
  }

  .footer_outer {
    padding: 50px 0;
  }

  .fb_section {
    padding: 20px 0;
  }

  .section_3 h2 {
    margin-bottom: 20px;
  }

  .section_5_orange {
    font-size: 40px;
  }

  .section_5_white {
    font-size: 35px;
  }

  .copyrights a:hover {
    border-top: none;
    border-radius: 20%;
    padding-bottom: 3px;

  }

  #maria-photo {
    display: block;
    margin: 20px auto;
  }

  blockquote {
    padding-right: 0;
  }

  #owner {
    font-size: 30px;
  }

  .ContactWrapper {
    padding: 0;
    text-align: center;
  }

  .section_contact1 h1 {
    font-size: 40px;
  }


  .diploma {
    padding: 10px;
    margin-right: 0;
    margin-bottom: 12px;
}


.NavCustom1 .NavCustom2 a.selected {
  border-top: none;
  color: fff;
  box-shadow: none;
}

.NavCustom1 .NavCustom2 a:hover {
  transition: all 0.4s;
  border-top: none;
  color: #fff;
}

 .submit_container {
    text-align: center;
    margin-top: 30px;
  }

  .ContactForm {
    margin: 0 150px;
  }

  .contact_icon {
    margin-bottom: 20px;
 }


}

@media screen and (max-width: 767px) {

  .PushRight {
    float: none;
  }

  .NavCustom2 a {
    text-align: center;
    font-size: 25px;
    letter-spacing: 1px;
  }

  .navbar-toggle {
    margin-top: 30px;
    padding: 13px;
  }

  footer {
    padding: 35px;
  }

  .container_mobile {
    margin: 0 20px;
  }

  .NavCustom1 .NavCustom2 li a.selected {
    border-top: none;
    box-shadow: none;
    text-shadow: none;
    color: #f05522;
    opacity: 1;
  }

  .NavCustom1 .NavCustom2 li a:hover {
  border-top: none;
  box-shadow: none;
  text-shadow: none;
  color: #f05522;
  opacity: 1;
  }

  .programs {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .copyrights {
    font-size: 14px;
  }

  footer {
    padding-bottom: 5px;
    padding-top: 15px;
  }




}


@media screen and (max-width: 600px) {

   .button_more {
    left: 30%;
  }

 blockquote:before {
  font-size: 1.5em;
 }

 blockquote {
  margin-right: 0;
  padding-left: 25px;
  margin-left: 0px;
 }

 .intro {
  padding-left: 5px;
  padding-right: 5px;
 }

 #owner {
  margin-right: 15px;
 }

  .ContactForm {
    margin: 0 30px;
  }

 .info_icon {
  margin-bottom: 25px;
 }

 .footer_outer {
  padding-bottom: 30px;
  padding-bottom: 30px;
 }

 .contact_icon {
    margin-bottom: 20px;
 }

  .section_2 {
    padding: 0 20px;
  }

  .newsletter_container {
    margin: auto 5px;
  }




}




